JAVA/xml/test.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="https://www.w3.org/2001/XMLSchema">
    <xs:element name="note">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="to" />
                <xs:element name="from" />
                <xs:element name="heading" />
                <xs:element name="body" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>